{% for hour in available %}
    <label class="{% if hour.available === false %}disabled{% endif %}" for="time-{{hour.time}}">
     {% if hour.available === true %}
        <input name="date" id="time-{{hour.time}}" value="{{ hour.value }}" type="radio" /> 
     {% endif %}
     {{ hour.time }}
    </label>
{% endfor %}